@keyframes submitting {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.button {
  width: fit-content;
  height: fit-content;
  padding: 16px 48px;
  background: $yellow;
  font-size: $fz18;
  font-weight: $bold;
  line-height: 24px;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover:not(:disabled) {
    transform: scale(1.04);
    background: $hoverYellow;
  }

  @media (max-width: 768px) {
    padding: 12px 30px;
    font-size: $fz16;
  }

  @media (max-width: 450px) {
    padding: 8px 24px;
    font-size: $fz14;
  }

  &:disabled {
    cursor: auto;
    opacity: 0.8;
  }

  &.isSubmitting {
    animation: submitting 0.5s ease infinite;
  }
}

.borderedButton {
  border-radius: 6px;
  padding: 16px;
}

.fullWidth {
  width: 100%;
}
