.authorInfoBlock {
  display: flex;
  column-gap: 16px;
  align-items: center;

  .authorInfoAvatar {
    width: 48px;
    height: 48px;
  }

  .authorInfoText {
    display: flex;
    flex-direction: column;

    .authorInfoName {
      @include headingFour;

      @media (max-width: 768px) {
        @include headingFive;
      }

      @media (max-width: 768px) {
        @include headingSix;
      }
    }

    .authorInfoAddress {
      @include bodyOne;
    }
  }
}
