$darkFiolet: #232536;
$lightFiolet: #592EA9;
$white: #FFFFFF;
$yellow: #FFD050;
$hoverYellow: #EDC14A;
$lightYellow: #FBF6EA;
$grey: #6D6E76;
$lightGrey: #4C4C4C;
$lightPurple: #F4F0F8;
$strongWhite: #F4F4F4;

