$darkFiolet: #232536;
$lightFiolet: #592ea9;
$white: #ffffff;
$yellow: #ffd050;
$hoverYellow: #edc14a;
$lightYellow: #fbf6ea;
$grey: #6d6e76;
$lightGrey: #4c4c4c;
$inputBorder: #9497a1;
$lightPurple: #f4f0f8;
$strongWhite: #f4f4f4;
$black: #292d33;
