.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $darkFiolet;
  padding: 18px 31px 18px 56px;
  font-family: inherit;

  .header__navigation__container {
    display: flex;
    align-items: center;
    column-gap: 32px;



    .video__frame{
      padding: 16px 48px;
      font-size: $fz18;
      font-weight: $bold;

      @media (max-width: 900px) {
        font-size: $fz16;
      }
    }
  }
}
