.navigation {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: center;
    row-gap: 10px;
  }
}

.navigation__item {
  color: $white;
  font-size: $fz16;
  font-weight: $regular;

  @media (max-width: 768px) {
    font-size: $fz14;
  }
}
